@font-face {
  font-family: NerdFont;
  src: url("./NerdFont.ttf") format("truetype");
}

@keyframes cammina {
  0% {
    transform: translateX(-140px);
  }
  100% {
    transform: translateX(100vw);
  }
}

.mucca {
  height: 110px;
  animation: 8s cammina;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


body {
  font-family: "Calibri";
  background: #edb992a3;
}

h1 {
  color: #601e07;
}

.language {
  width: 1100px;
  max-width: calc(100% - 64px);
  margin: 0 auto;
  display: flex;
  justify-content: end;
}

.language a {
}

.language a::after {
  content: "";
}

.container {
  width: 1100px;
  max-width: calc(100% - 64px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header {
  width: 100%;
}

.racconti {
  width: 250px;
}

.robe1 {
  width: 250px;
}

.robe2 {
  width: 250px;
}

.poesie {
  width: 250px;
}

a {
  text-decoration: none;
  color: #870707;
  position: relative;
  display: flex;
  align-items: center;
}

a::after {
  transition: .2s;
  font-family: "NerdFont";
  content: " ";
  font-size: 32px;
  margin-left: 10px;
}

a:hover::after {
  margin-left: 20px;
}
