body {
    width: 1440px;
    max-width: calc(100% - 64px);
    margin: 50px auto;
    display: block;
    font-family: "Calibri";
    background: #edb992a3;
}

.toro {
    height: 110px;
    float: right;
    position: relative;
    top: 12px;
    right: 10px;
}

h1 {
    font-size: 40px;
    padding-bottom: 12px;
    margin-bottom: 24px;
    color: #601e07;
    border-bottom: 2px dashed #855c50;
    position: relative;
}

p {
    margin: 0;
    line-height: 1.5;
    font-size: 20px;
    color: #870707;
}

a {
    text-decoration: none;
    color: #c76060;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 32px;
    border-bottom: 2px solid #c76060;
    display: inline-block;
    padding: 0 10px;
}
